[defaults]
inventory         = inventory.yml
roles_path        = roles
stdout_callback   = default
result_format     = yaml
host_key_checking     = False
remote_user           = bpainter
interpreter_python    = auto_silent
deprecation_warnings  = False

[privilege_escalation]
become        = True
become_method = sudo
